@import '../../assets/scss/vars.scss';

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $brand-primary;
    color: #fff;
    padding: 13px 15px;
    max-width: 800px;
    width: 100%;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px 6px RGBA(0,0,0, 0.16);

    .logo {
      font-size: 20px;
      font-weight: bold;
    }
}
