.Task {
  position: relative;
  margin-bottom: 15px;
  box-shadow: 0 3px 6px RGBA(0,0,0, 0.16);
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;

  h3 {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    margin: 0;
  }

  &:after {
    position: absolute;
    top: -12px;
    right: -13px;
    width: 26px;
    height: 24px;
    border-radius: 50%;
    box-shadow: 0 3px 6px RGBA(0,0,0, 0.16);
    content: '';
  }

  &.priority-0:after {
    background: #FF9900;
  }

  &.priority-1:after {
    background: #FFF700;
  }

  &.priority-2:after {
    background: #00FF44;
  }

  &.priority-3:after {
    background: #00CBFF;
  }

  &.complete {
    background: RGBA(0, 203, 255, 0.1);
    color: #ADADAD;

    h3 {
      text-decoration: line-through;
    }
  }

  &.description-open {
    .description-toggler svg {
      transform: scaleY(-1) translateY(1px);
    }
  }

  .main-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .description {
    padding-top: 10px;
  }
}
