@import '../../../../assets/scss/vars.scss';

.TaskControls {
  .item {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 3px 6px RGBA(0,0,0, 0.16);
    color: $brand-primary;
    font-size: 15px;
  }
}
