.Modal {
  position: fixed;
  max-width: 375px;
  width: calc(100% - 30px);
  max-height: calc(100% - 30px);
  background: #fff;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #707070;
  z-index: 150;
  border-radius: 5px;
  color: #141414;

  p {
    text-align: center;
    margin-bottom: 20px;
    min-height: 65px;
  }
}
